{% extends "xforum/base.html" %}

{% block content %}
    <div class="page_body-container">
        <div class="page-container">
            <div class="content__container">
                <h2 class="webpage__title">About webpage</h2>
                <div class="about_webpage-content">Batman: Arkham Origins Batman: Arkham Origins (дословно c англ. — «Бэтмен: Истоки Аркхэма», в России издаётся под названием «Batman: Летопись Аркхэма») — компьютерная игра в жанре action-adventure в открытом мире с элементами стелса, разработанная канадской студией Warner Bros. Games Montreal и изданная американской компанией Warner Bros. Interactive Entertainment. Игра основана на комиксах DC Comics о Бэтмене, а сценарий к Arkham Origins написали Кори Мэй, Райан Галлетта и Дум Вендшух. Origins является третьей игрой в серии Batman: Arkham, но сюжетно она представляет собой приквел к Arkham Asylum и Arkham City, в котором Бэтмен ещё молодой и менее опытный супергерой. Криминальный авторитет по кличке Чёрная Маска назначает огромную награду за убийство Бэтмена восьмерым злодеям в канун Рождества, а полиция охотится за супергероем, не одобряя его методы борьбы с преступностью.

                    Разработка Arkham Origins началась в конце 2011 года. Обязанности по разработке взяло на себя монреальское подразделение Warner Bros., так как создатели франшизы в лице студии Rocksteady Studios вовсю работали над Arkham Knight и не могли выпустить новую игру в срок. WB Games Montreal решили сделать третью часть франшизы приквелом, чтобы исследовать такие аспекты характера Бэтмена, как уязвимость и недостаток опыта, чего предыдущие игры франшизы не могли. История вдохновлена комиксами «Легенды о Тёмном рыцаре» и «Год первый» и писалась при участии Джеффа Джонса. Разработкой многопользовательского режима занималась британская студия Splash Damage.
                </div>
            </div>
        </div>
    </div>


{% endblock %}
